# NYC Taxi Data Pipeline (.gitignore)

# ---- Environment & Secrets ----
.env
.env.*
*.env

# ---- Local Data Files ----
data/
*.parquet
*.csv
*.log
*.tmp
*.zip

scripts/helper_functions.py
scripts/incremental.py
scripts/help.py
scripts/run.py

# ---- System Files ----
.DS_Store
Thumbs.db

assets/
*.svg
*.png



# ---- Virtual Environments ----
.venv/


# ---- Python Cache & Build Artifacts ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
build/
dist/


# ---- IDE / Editor Settings ----
.vscode/
.idea/
*.swp


# ---- Misc ----
*.bak
*.old
*.orig
logs/